!!!
%html
  %head
    %title ÉTS - Horaire
    %meta{"http-equiv" => "Content-Type", content: "text/html", charset: "UTF-8"}
    %style{type: 'text/css'}= normalize_css
    %style{type: 'text/css'}= css
  %body
    = content