!!!
%html
  %head
    %title ÉTS - Horaire
    %meta{"http-equiv" => "Content-Type", content: "text/html", charset: "UTF-8"}
    %link{rel: "stylesheet", type: "text/css", href: "css/normalize.css"}
    %link{rel: "stylesheet", type: "text/css", href: "css/stylesheet.css"}
  %body
    = content