.filter
  %h2.filter-heading
    %label.control-label{for: "#{simple_filter.slug}-activated"}= simple_filter.name
  .filter-body
    .input-group
      %span.input-group-addon
        %input{id: "#{simple_filter.slug}-activated", type: "checkbox", name: "filters[#{simple_filter.slug}][activated]", checked: (params.try(:[], 'filters').try(:[], simple_filter.slug).try(:[], 'activated') == 'on')}
      %input.form-control{id: simple_filter.slug, type: "number", name: "filters[#{simple_filter.slug}][value]", value: params.try(:[], 'filters').try(:[], simple_filter.slug).try(:[], 'value')}