%footer
  .container
    .row
      .col-xs-12
        &copy; Krystian Czesak | krys
        %a{href: "http://www.google.com/recaptcha/mailhide/d?k=01qL6e75MTZOn6dJCAaG2OvA==&c=gGboW2xa3b0LERhtJ9OROG8E8hZVWvSjCZr_apvYRQo=", onclick: "window.open('http://www.google.com/recaptcha/mailhide/d?k\\07501qL6e75MTZOn6dJCAaG2OvA\\75\\75\\46c\\75gGboW2xa3b0LERhtJ9OROG8E8hZVWvSjCZr_apvYRQo\\075', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;", title: "Reveal this e-mail address"}> ...
        @gmail.com
      .col-xs-12
        Github:
        %a{title: 'Code source', href: 'https://github.com/Krystosterone/ets-horaire-website', target: '_blank'} Code source