%footer
  .container
    .row
      .col-xs-12 &copy; Krystian Czesak
      .col-xs-12
        %a{title: 'Code source', href: 'https://github.com/Krystosterone/ets-horaire-website', target: '_blank'} Code source