%nav.navbar.navbar-default
  .container
    .navbar-header
      = link_to root_path, class: 'navbar-brand' do
        %i.glyphicon.glyphicon-home
        Générateur d'horaire
    %p.navbar-text.pull-right= "v#{Rails.env}"