%li.list-group-item
  .media.output-type
    = image_tag "output_types/#{output.slug}.jpg", class: 'media-object pull-left'
    .media-body
      %h4.media-heading= link_to output.name, output.path(@key), target: '_blank'