%fieldset.filter.leaves-filter
  %legend.filter-heading Périodes de congés
  .filter-body
    .filter-row-list.leaves-list.row
      = render partial: 'select_courses/filters/leaves/row', collection: @leaves
      %a.btn.btn-primary.btn-block.add-leave
        Ajouter un congé
        %i.glyphicon.glyphicon-plus