<!doctype html>
%html
  %head
    %title Planificateur d'horaire pour l'ÉTS
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", :name => "viewport"}
      %link{:href => "//netdna.bootstrapcdn.com/bootswatch/3.0.1/flatly/bootstrap.min.css", :rel => "stylesheet"}
      = css :application

      %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js", :type => "text/javascript"}
      %script{:src => "//netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js", :type => "text/javascript"}
      = js :application
  %body{id: (body_id if defined?(body_id))}
    %nav.navbar.navbar-default
      .container
        .navbar-header
          %a.navbar-brand{:href => "/"} Calculateur d'horaire
    = yield