%li.list-group-item
  .media.output-type
    %img.media-object.pull-left{:src => "/images/output_types/#{output_type.source}.jpg"}
      .media-body
        %h4.media-heading= output_type.name
        .checkbox
          %label{for: output_type.slug}
            %input{id: output_type.slug, type: "checkbox", value: "true", name: output_type.slug} Activé