!!!
%html
  %head
    %title Générateur d'horaire pour l'ÉTS | Calendrier HTML
    %meta{'http-equiv' => 'Content-Type', content: 'text/html', charset: 'UTF-8'}
    = stylesheet_link_tag 'html_calendar', media: 'all'
  %body
    = yield